# Archivos de sistema (Basura de Mac y Windows)
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de configuración de editores (VS Code, etc)
.vscode/
.idea/

# Archivos compilados o binarios (si usaras C, Python, etc)
*.exe
*.o
__pycache__/
