# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp

# =========================
# Data (opcional si no quieres subir datasets pesados)
# =========================
*.csv
*.xlsx
*.parquet